/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}*/

/*
@font-face {
  font-family: 'Poppins';
  src: url('assets/css/fonts/Poppins/Poppins-Regular.ttf') ;
  src: url('assets/css/fonts/Poppins/Poppins-Medium.ttf') ;
  !*src: url('assets/css/fonts/Poppins/Poppins-Bold.ttf') ;*!
  !*src: url('assets/css/fonts/Poppins/Poppins-Black.ttf') ;*!
  !*src: url('assets/css/fonts/Poppins/Poppins-SemiBold.ttf') ;*!
  !*font-style: normal;*!
}
*/

#root {
  font-family: "Poppins", sans-serif ;
  /*font-weight: 400;*/
  background-color: #323232;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


/***************************************************************/

.icon-happy {
  margin-top: 38px;
  margin-bottom: 32px;
}

.happy-div-top {
  background-color: #323232;
  padding: 0px 20px 32px 20px;  /*top right bottom left*/
}

.happy-div-bottom {
  background-color: white;
  /*min-height: 700px;*/
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  padding: 20px 20px 24px 24px;  /*top right bottom left*/
  margin-top: 2px;
}

.border-red-orange {
  border-top-color: #FF6063;
  border-top-width: 4px;
  border-top-style: solid;
}

.border-orange {
  border-top-color: #F9A826;
  border-top-width: 4px;
  border-top-style: solid;
}

.welcome-word {
  /*padding-top:4px;*/
  margin: 0 auto;
  font-weight: 300;
  font-size: 8px;
  /* identical to box height */
  /* Gris */
  color: #C8C8C8;
  text-align: center;
}

.welcome-word2 {
  font-size: 12px;
  /*margin-left: 10px;*/
}

.text-blue {
  color: #536DFE;
}

.text-red-orange {
  color: #FF6063;
}

.back-btn {
  width: 48px;
  height: 48px;
  box-shadow: 5px 5px 8px 3px rgba(50, 50, 50, 0.03999999910593033) ;
  border-color: #424242;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: #424242;
}

.close-btn {
  width: 64px;
  height: 64px;
  box-shadow: 5px 5px 8px 3px rgba(50, 50, 50, 0.03999999910593033) ;
  border-color: #424242;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: #424242;
}

.hapy-search {
  background: #FFFFFF;
  /* Gris */
  border: 0.5px solid #C8C8C8;
  box-shadow: inset 0px 0px 8px 3px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  color: black;
  font-size: 12px;
  background-image: url("assets/search.svg");
  background-repeat: no-repeat;
  background-position: 20px 13px;
  width: 100%;
  height: 45px;
  padding-left: 50px;
}

.hapy-btn-without-icon {
  color: #323232;
  background: #FFFFFF;
  border: 0.5px solid #C8C8C8;
  box-shadow: 0px 0px 8px 3px rgba(50, 50, 50, 0.04);
  border-radius: 20px;
  width: 100%;
  text-align: center;
  height: 64px;
  font-weight: 500;
}

.hapy-btn-with-icon {
  color: #323232;
  background: #FFFFFF;
  border: 0.5px solid #C8C8C8;
  box-shadow: 0px 0px 8px 3px rgba(50, 50, 50, 0.04);
  border-radius: 20px;
  width: 100%;
  height: 64px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 !important;
}

.bottom-center-fixed {
  /*position: fixed ;*/
  /*bottom:50px;*/
}

.outer{
  width:1280px;
}
.inner-button-container{
  position: fixed;
  width: 100%;
  height: 85px;
  left: 0px;
  top: 90%;
  background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, #FAFAFA 40.63%);
}

.inner-button-container-validate-btn{
  position: fixed;
  width: 100%;
  /*height: 150px;*/
  left: 0px;
  bottom: 24px;
  /*top: 85%;*/
  /* background: linear-gradient(180deg, rgba(250, 250, 250, 0) -200%, #FAFAFA 40.63%); */
}


.product-image {
  /*object-fit: cover;*/
  height: 250px;
  border-radius: 20px;
}

.old-price {
  font-weight: 500;
  font-size: 16px;
  /* identical to box height */
  margin-left: 24px;

  text-decoration-line: line-through;
}

.text-disabled {
  color: #C8C8C8;
}

.service-list {
  height: 220px;
  padding: 20px 10px;
  display:table;
  overflow: scroll;
}

.service-item {
  background: #FFFFFF;
  /* Gris */
  border: 0.5px solid #C8C8C8;
  /* Drop */
  box-shadow: 0px 0px 8px 3px rgba(50, 50, 50, 0.04);
  border-radius: 20px;
  width: 104px;
  height: 158.27px;
  padding: 40px 36px 30px 36px;
  margin-bottom: 24px ;
  margin-right: 12px;
}

.logo-divider {
  border: none;
  border-top: 10px solid #FF6063;
  color: #FF6063;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 400px;
}

.logo-divider:after {
  content: ' ';
  position: relative;
}

.table-item {
  border: 0.5px solid #C8C8C8;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  width: 64px;
  height: 64px;
  text-align: center;
  padding: 23px 0;
  font-size: 12px;
}

/**************************************************/

.f-8 {font-size: 8px}
.f-12 {font-size: 12px}
.f-16 {font-size: 16px}
.f-20 {font-size: 20px}
.f-24 {font-size: 24px}
.f-32 {font-size: 32px}
.f-48 {font-size: 48px}
.f-64 {font-size: 64px}

.fw-1 {font-weight: 100}
.fw-2 {font-weight: 200}
.fw-3 {font-weight: 300}
.fw-4 {font-weight: 400}
.fw-5 {font-weight: 500}
.fw-6 {font-weight: 600}
.fw-7 {font-weight: 700}
.fw-8 {font-weight: 800}
.fw-9 {font-weight: 900}

.mr-1 {margin-right: 10px}
.mr-2 {margin-right: 20px}
.mr-3 {margin-right: 30px}
.mr-32 {margin-right: 32px}
.mr-64 {margin-right: 64px}
.mr-4 {margin-right: 40px}
.mr-5 {margin-right: 50px}

.ml-demi{margin-left: 5px}
.ml-1 {margin-left: 10px}
.ml-2 {margin-left: 20px}
.ml-3 {margin-left: 30px}
.ml-4 {margin-left: 40px}
.ml-45 {margin-left: 45px}
.ml-5 {margin-left: 50px}

.mt-45 {margin-top: 45px}
.mt-6 {margin-top: 60px}
.mt-7 {margin-top: 70px}
.mt-8 {margin-top: 80px}
.mt-9 {margin-top: 90px}
.mt-10 {margin-top: 100px}

.-mr-1 {margin-right: -10px}
.-mr-2 {margin-right: -20px}
.-mr-3 {margin-right: -30px}
.-mr-4 {margin-right: -40px}
.-mr-5 {margin-right: -50px}

.-ml-1 {margin-left: -10px}
.-ml-2 {margin-left: -20px}
.-ml-3 {margin-left: -30px}
.-ml-4 {margin-left: -40px}
.-ml-45 {margin-left: -45px}
.-ml-5 {margin-left: -50px}

.-mt-1 {margin-top: -10px}
.-mt-15 {margin-top: -15px}
.-mt-2 {margin-top: -20px}
.-mt-3 {margin-top: -30px}
.-mt-4 {margin-top: -40px}
.-mt-5 {margin-top: -50px}

.-mb-1 {margin-bottom: -10px}
.-mb-2 {margin-bottom: -20px}
.-mb-3 {margin-bottom: -30px}
.-mb-4 {margin-bottom: -40px}
.-mb-5 {margin-bottom: -50px}
.mb-64 {margin-bottom: 64px}

.mt-32 {margin-top: 32px}

/******** PADDING **********/
.pr-1 {padding-right: 10px}
.pr-2 {padding-right: 20px}
.pr-3 {padding-right: 30px}
.pr-4 {padding-right: 40px}
.pr-5 {padding-right: 50px}

.pl-1 {padding-left: 10px}
.pl-15 {padding-left: 15px}
.pl-2 {padding-left: 20px}
.pl-3 {padding-left: 30px}
.pl-4 {padding-left: 40px}
.pl-5 {padding-left: 50px}

.-pr-1 {padding-right: -10px}
.-pr-2 {padding-right: -20px}
.-pr-3 {padding-right: -30px}
.-pr-4 {padding-right: -40px}
.-pr-5 {padding-right: -50px}

.-pl-1 {padding-left: -10px}
.-pl-2 {padding-left: -20px}
.-pl-3 {padding-left: -30px}
.-pl-4 {padding-left: -40px}
.-pl-5 {padding-left: -50px}

.-pt-1 {padding-top: -10px}
.-pt-2 {padding-top: -20px}
.-pt-3 {padding-top: -30px}
.-pt-4 {padding-top: -40px}
.-pt-5 {padding-top: -50px}

.-pb-1 {padding-bottom: -10px}
.-pb-2 {padding-bottom: -20px}
.-pb-3 {padding-bottom: -30px}
.-pb-4 {padding-bottom: -40px}
.-pb-5 {padding-bottom: -50px}

/**************************************************/

.border-blue {
  border-top-color: #2D37FF;
  border-top-width: 8px;
  border-top-style: solid;
}

.see-price-btn {
  background-color: white;
  color: #323232;
  border: 2px solid #536DFE;
  border-radius: 20px;
  padding: 4px 20px;
}

.ticket-container {
  border: 0.5px solid #C8C8C8;
  border-radius: 20px;
  height: 430px;
  padding: 29px 24px 7px 24px;
}

.checked-icon-component {
  margin-left: 10px;
}

.checked-icon-on-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  margin-left: 35px;
  margin-top: -10px;
}

.checked-icon-on-btn-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  /* position: absolute;
   margin-left: 35px;
   margin-top: -10px;*/
}

.checked-icon-on-btn-3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
   position: absolute;
   margin-left: 40px;
   margin-top: -15px;
}

.checked-icon-on-btn-2-plus {
  position: absolute;
  margin-left: 35px;
  margin-top: -10px;
}

.back-btn-modal {
  width: 48px;
  height: 48px;
  border-style: solid;
  border-width: 1px;
  border-color: #C8C8C8;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.04);
}

.hapy-input {
  width: 100%;
  height: 64px;
  background: #FFFFFF;
  border: 0.5px solid #C8C8C8;
  box-shadow: inset 0px 0px 8px 3px rgba(50, 50, 50, 0.04);
  border-radius: 20px;
  font-weight: 400;
  padding: 20px 32px ;
}


.bottom-button-modal{
  position: fixed;
  width: 100%;
  height: 150px;
  background: linear-gradient(180deg, rgba(250, 250, 250, 0) -200%, #FAFAFA 40.63%);
}

.reservation-item {
  border: 0.5px solid #C8C8C8;
  box-shadow: 0px 0px 8px 3px rgba(50, 50, 50, 0.04);
  border-radius: 20px;
  height: 64px;
  padding: 20px 32px;
}

.language-menu {
  position: absolute;
  width: 57px;
  height: 120px;
  /*right: 5%;*/
  top: 80px;
  background: #424242;
  box-shadow: 0px 0px 8px 3px rgba(50, 50, 50, 0.04);
  border-radius: 10px;
}



.hapy-select-dropdown {
  box-sizing: border-box;
  /*width: 332px;*/
  /*height: 272px;*/
  /* White */
  background: #FFFFFF;
  /* Grey */
  border: 0.5px solid #C8C8C8;
  /* Drop */
  box-shadow: 0px 0px 8px 3px rgba(50, 50, 50, 0.04);
  border-radius: 20px;
  padding: 20px 36px;
}

.hapy-select-default {
  padding: 16px 36px;
}

.hapy-select-option {
  padding-top: 32px ;
}

.language-choiced {
  position: absolute;
  right: 4%;
  margin-top: 38px;
}

.table-legende {
  list-style: none;
  margin-left: -45px;
}

.table-legende li {
  margin: 0 0 -8px 0 !important;
}

/* The heart of the matter */

.horizontal-scrollable > .row {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scrollable > .row > .col-4 {
  display: inline-block;
  float: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-and-hidden::-webkit-scrollbar{
  display: none;
}

.scroll-and-hidden {
  overflow-y: scroll;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.command-box {
  padding: 30px 24px 24px 24px ;
  background: #FFFFFF;
  /* Gris */
  border: 0.5px solid #C8C8C8;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  margin-bottom: 20px;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.center-force {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**************************************/


.preparation-top-container {
  background-color: #323232;
  /*min-height: 238px;*/
  /*padding: 4px 32px 32px 32px;*/
}

.preparation-container-wrapper {
  /*width: 1194px;*/
  padding: 15px 32px;
}

.hapy-btn-with-icon-black {
  color: white;
  background: #424242;
  border: 0.5px solid #424242;
  box-shadow: 0 0 8px 3px rgba(50, 50, 50, 0.04);
  border-radius: 20px;
  width: 100%;
  height: 64px;
  /*font-weight: 500;*/
  overflow: hidden;
  white-space: nowrap;
  padding: 0 !important;
}

.text-orange {
  color: #F7B927;
}

.text-green {
  color: #4ECDC4;
}

.border-orange-container {
  height: 20px;
  border: solid 4px #F9A826 ;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.04);
  border-radius: 0px 0px 20px 20px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  background-color: white;
  position: relative;
}

.border-green-container {
  height: 20px;
  border: solid 4px #4ECDC4 ;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.04);
  border-radius: 0px 0px 20px 20px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  background-color: white;
  position: relative;
}

.preparation-bottom-container-without-border {
  background-color: white;
  /*margin-top: -6px;*/
  /*position: absolute;*/
  /*z-index: 9;*/
  border-radius: 20px 20px 0px 0px;
}

.current-command-container {
  /*box-sizing: border-box;*/
  /* width: 275px; */
  width: 100%;
  height: 100% ;
  background: #FFFFFF;
  border: 0.5px solid #C8C8C8;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  margin-top: 24px;
  padding: 16px 20px 24px 24px;
}

.red-command-container {
  box-sizing: border-box;
  width: 275px;
  height: 293px;
  background: #FFFFFF;
  border: 2px solid #F7B927;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.04);
  border-radius: 22px;
}

.red-command-container-border {
  background: #FF6063;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.04);
  border-radius: 20px 20px 0px 0px;
  height: 20px;
}

.red-command-content {
  padding: 5px 20px 32px 32px;
}

.btn-border-orange {
  border: 1px solid #F7B927 ;
}

.btn-border-red{
  border: 1px solid #FF6063 ;
}

.btn-border-blue {
  border: 2px solid #2D37FF ;
}


.list-command-container {
  box-sizing: border-box;
  /*width: 557px;*/
  /*height: 554px;*/
  background: #FFFFFF;
  border: 0.5px solid #C8C8C8;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 21px 18px 32px 32px;
}

.preparation-container {
  background-color: #323232 ;
  /*justify-content: center;
  max-height: 100vh;
  margin: 0;*/
  /*border: 10px solid red;*/
}

.bg-orange {
  background-color: #F7B927;
}

.bg-black-btn {
  background: #424242;
}

.border-red {
  border: 2px solid #FF6063;
}

.hapy-modal {
  position: absolute;
  background-color: white;
  top: 50% ;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-top: 8%;
  transform: translate(-50%, -50%);
  border: 0.5px solid #C8C8C8;
  border-radius: 20px;
  width: 425px;
  max-height: 800px;
  padding:30px ;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hapy-modal::-webkit-scrollbar, .scroll-and-hidden::-webkit-scrollbar,
#preparation-container::-webkit-scrollbar {
  display: none;
}

.blur-bg {
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
}


.hapy-2btnSwitching-secondBtn {
  background: #424242 ;
  border: none;
  border-radius: 20px;
}

.hapy-2btnSwitching-colorReversed {
  width: 100%;
  background: white;
  /* Gris */
  border: 0.5px solid #C8C8C8;
  box-shadow: inset 0px 0px 8px 3px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.hapy-2btnSwitching-secondBtn-colorReversed {
  background: white;
  border: none;
  border-radius: 20px;
}

.border-green {
  border: 2px solid #4ECDC4;
}

.border-green-top {
  border-top: 2px solid #4ECDC4;
}

.reservation-icon-on-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  margin-left: 20px;
  margin-top: -40px;
}

.max-width-248 {
  max-width: 224px;
}
.circle-red{
width: 20px;
height: 20px;
border-radius: 10px;
background: #FF6063;
}
.h-100{
  height: 100%;
}


/* custom css */
.react-horizontal-scrolling-menu--item.service-item:has(.vertical-center){
  border: none;
  border-radius:none;
  box-shadow:none;
  padding:30px 36px 30px 0;
}
